<footer>
  <small>
    <a href="https://twitter.com/{{ metadata.author.twitterHandle }}" target="_blank" rel="noopener">Vladimir Sorokin.</a> 2020
  </small>
  <small>
    <a href="/admin" style="color: var(--primary);">admin</a>
  </small>
</footer>
